<!-- <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg"> -->
<!-- Template CSS -->
<!-- <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" /> -->

<style>
    .orderDetailspage-card-left {
        padding: 27px;
        background: #f8f9fa;
        border-radius: 20px 0px 0px 20px;
    }

    .orderDetailspage-card-middle {
        padding: 27px;
        background: #f8f9fa;

    }

    b {
        font-weight: 500;
    }

    .orderDetailspage-card-right {
        padding: 27px;
        background: #f8f9fa;
        border-radius: 0px 20px 20px 0px;
    }

    .table> :not(:last-child)> :last-child>* {
        border-bottom-color: currentColor;
    }

    .rounded-pill {
        padding-right: 0.6em;
        padding-left: 0.6em;
    }

    .text-success {
        color: #00B517 !important;
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    .alert-success {
        color: #006d0e;
        background-color: #ccf0d1;
        border-color: #b3e9b9;
    }



    .float-end {
        float: right !important;
    }

    .content-header .content-title {
        margin-bottom: 0;
    }

    .card-title {
        color: #383e50 !important;
    }

    .card-title {
        margin-bottom: 1rem;
        font-size: 40px;
    }


    .text-muted {
        color: #adb5bd !important;
    }

    .horizontal-dlist {
        display: flex;
    }

    .dlist {
        display: inline-block;
        margin-right: 20px;
        /* Adjust the margin as needed */
    }
</style>

<link rel="stylesheet" href="/admin/assets/css/vendors/material-icon-round.css">
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>


<section class="content-main container">
    
   

    <div class="content-header">
        <div>
            <hr>
            <h2 class="content-title card-title" >Order detail</h2>

        </div>
        
        
    </div>

    
      
    
    <div class="card">
        <br>
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <!-- <span>
                        <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                    </span> <br>
                    <small class="text-muted" style="font-size: medium; font-weight: 400;">Order ID: <%= orderDetails._id %></small> -->
                </div>
              
               <div class="col-lg-6 col-md-6 mb-lg-0  pt-3">
                <button class="float-right mr-5" id="invoice">Download Invoice</button>
            </div>
            
            </div>
        </header> <!-- card-header end// -->
        <br>
        <div class="card-body" >
            <div class="row mb-50 mt-20 order-info-wrap"  style="background-color: rgb(228, 224, 224);">
                <div class="col-md-4" style=" text-align: center;">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%= orderDetails.address?.first_name %> 
                               <%= orderDetails.address?.last_name %> <template class="__cf_email__"
                                    data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                <br> <%= orderDetails.address?.mobile %>
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4" style=" text-align: center;">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: <%= orderDetails.paymentMethod %> <br> Status: new
                            </p>
                            <!-- <a href="#">Download info</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4" style=" text-align: center;">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                City:  <%= orderDetails.address?.city %>
                            </p>
                            <p class="mb-1">
                                Address : <%= orderDetails.address?.address %>
                            </p>
                            <!-- <a href="#">View profile</a> -->
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <br>
            <div class="row">
            
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th width="40%" style="font-weight: bold;">Product</th>
                                    <th width="20%" style="font-weight: bold;">Unit Price</th>
                                    <th width="20%" style="font-weight: bold;">Quantity</th>
                                    <th width="20%" style="font-weight: bold; " class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i=0; i < productDetails.length; i++ ) { %>
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/uploads/product-images/<%= productDetails[i].orderedProduct.image[0] %>" width="40" height="40" class="img-xs"
                                                    alt="Item">
                                            </div>
                                            <div class="info"><%= productDetails[i].orderedProduct.product_name %></div>
                                        </a>
                                    </td>
                                    <td> ₹<%= productDetails[i].orderedProduct.product_price %> </td>
                                    <td>   <%= productDetails[i].orderedItems.quantity %> </td>
                                    <td class="text-end"> ₹<%= productDetails[i].orderedProduct.product_price*productDetails[i].orderedItems.quantity
                                        %> </td>
                                </tr>
                                <% } %>
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                           
                                                <!-- <dl class="dlist">
                                              <dt>Subtotal:</dt>
                                              <dd>$973.35</dd>
                                            </dl>
                                            <dl class="dlist">
                                              <dt>Shipping cost:</dt>
                                              <dd>$10.00</dd>
                                            </dl> -->
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd><b class="h5"> ₹<%= orderDetails.totalAmount %></b></dd>
                                                </dl>
                                                
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                            <span
                                                                class="badge rounded-pill alert-success text-success"><%= orderDetails.orderStatus %></span>
                                                        </dd>
                                                    </dl>
                                                
                                            <% if (orderDetails.orderStatus !== 'delivered' && orderDetails.orderStatus !== 'return pending' && orderDetails.orderStatus !== 'cancelled' && orderDetails.orderStatus !== 'returned') { %>
                                                <button class="float-left ml-5" style="background-color: rgb(186, 11, 11); margin-right: 3rem;" onclick="cancelOrder('<%= orderDetails.user %>','<%= orderDetails._id %>')"><span style="color: white;">Cancel order</span></button>
                                            <% } %>

                                            <% if (orderDetails.orderStatus == 'delivered') { %>
                                                <% if (new Date(orderDetails.expiryDate) > new Date()) { %>
                                                    <h5>Expiry Date : <%= new Date(orderDetails.expiryDate).toLocaleDateString() %></h5>
                                                    <button class="float-left ml-5" style="background-color: rgb(69, 70, 70); margin-right: 3rem;" onclick="returnOrder('<%= orderDetails.user %>','<%= orderDetails._id %>')"><span style="color: white;">Return order</span></button>
                                                <% } else { %>
                                                    <h4>Expiry Date : Expired</h4>
                                                    <h5>Cannot be returned</h5>
                                                    <% } %>
                                              <% } %>
                                        </article>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <input type="hidden" id="orderDetails" value="<%= JSON.stringify(orderDetails) %>">
                        <input type="hidden" name="" id="productDetails" value="<%= JSON.stringify(productDetails) %>">

                    </div> <!-- table-responsive// -->
                    
                </div> <!-- col// -->
                <div class="col-lg-1"></div>

            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->



<script>


function cancelOrder(userId, orderId) {
  console.log('clicked', userId);

  swal("Do you want to cancel this order", {
    buttons: ['No', 'Yes'],
  }).then((res) => {
    if (res) {
      swal("Please enter the reason for cancellation (up to 20 characters)", {
        content: {
          element: "input",
          attributes: {
            maxLength: 20,
          },
        },
        buttons: ['Cancel', 'Submit'],
      }).then((reason) => {
        if (reason === null) {
          return; // Cancelled reason input
        }
        if (reason.length > 20) {
          swal("The reason should be up to 20 characters long.");
          return;
        }
        $.ajax({
          url: '/cancel-order',
          method: 'post',
          data: {
            userId: userId,
            orderId: orderId,
            reason: reason,
          },
        })
          .done((res) => {
            console.log(res);
            Toastify({
              text: `${res.message}`,
              duration: 3000,
              newWindow: true,
              close: true,
              gravity: "top",  // `top` or `bottom`
              position: "center", // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
              style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
              },
            }).showToast();
            location.reload();
          })
          .fail((error) => {
            console.error(error);
          });
      });
    }
  });
}




function returnOrder(userId, orderId) {
  console.log('clicked', userId);

  swal("Do you want to return this order", {
    buttons: ['No', 'Yes'],
  }).then((res) => {
    if (res) {
      swal("Please enter the reason for returning (up to 20 characters)", {
        content: {
          element: "input",
          attributes: {
            maxLength: 20,
          },
        },
        buttons: ['Cancel', 'Submit'],
      }).then((reason) => {
        if (reason === null) {
          return; // Cancelled reason input
        }
        if (reason.length > 20) {
          swal("The reason should be up to 20 characters long.");
          return;
        }
        $.ajax({
          url: '/return-order',
          method: 'post',
          data: {
            userId: userId,
            orderId: orderId,
            reason: reason,
          },
        })
          .done((res) => {
            console.log(res);
            Toastify({
              text: `${res.message}`,
              duration: 3000,
              newWindow: true,
              close: true,
              gravity: "top",  // `top` or `bottom`
              position: "center", // `left`, `center` or `right`
              stopOnFocus: true, // Prevents dismissing of toast on hover
              style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
              },
            }).showToast();
            location.reload();
          })
          .fail((error) => {
            console.error(error);
          });
      });
    }
  });
}





    

$(document).ready(function () {
        $('#invoice').click((e) => {
            let orderDetails = JSON.parse(document.getElementById('orderDetails').value);
            let productDetails = JSON.parse(document.getElementById('productDetails').value);

            console.log("clicked");


            console.log("clicked");
            e.preventDefault();
            swal("do you want to download Invoice", {
                buttons: ['cancel', 'ok']
            })
                .then((res) => {
                    if (res) {
                        const data = {
                            "documentTitle": "INVOICE FootSteps", // Title of the invoice
                            "currency": "INR",
                            "taxNotation": "GST", // VAT or GST
                            "marginTop": 25,
                            "marginRight": 25,
                            "marginLeft": 25,
                            "marginBottom": 25,
                            "logo": "https://public.easyinvoice.cloud/img/logo_en_original.png", // URL or base64 encoded image
                            "sender": {
                                "company": "footsteps",
                                "address": "Panampally Nagar",
                                "zip": "1234 AB",
                                "city": "Kochi",
                                "country": "India"
                            },
                            "client": {
                                "company": orderDetails.address.first_name,
                                "address": orderDetails.address.address,
                                "zip": "5678 CD",
                                "city": orderDetails.address.city,
                                "country": orderDetails.address.country
                            },
                            "invoiceNumber": "2021.0001",
                            "invoiceDate": "15-05-2023",
                            "products": productDetails.map((product) => ({
                                quantity: product.orderedItems.quantity,
                                description: product.orderedProduct.product_name,
                                tax: 0,
                                price: product.orderedProduct.product_price
                            }))
                            ,
                            "bottomNotice": "Thank you for your business."
                        };

                        //create invoice
                        easyinvoice.createInvoice(data, function (result) {
                            easyinvoice.download('footSteps-invoice.pdf', result.pdf);
                            //	you can download like this as well:
                            //	easyinvoice.download();
                            //	easyinvoice.download('myInvoice.pdf');   
                        });

                    }
                })
        })
    })

</script>